div + p {
  background-color: rgb(105, 152, 227);
}

h1 {
  color: rgb(16, 154, 108);
}

.text {
  border: 3px solid yellowgreen;
}

#title2 {
  background-color: rgb(203, 105, 227);
}

a[href] {
  color: rgb(153, 155, 27);
}

div p {
  border: 5px dotted rgb(205, 140, 50);
}

ul > li {
  color: green;
}

h3 ~ p {
  background-color: rgb(227, 105, 105);
}

h4.title2 + .text3 {
  border: 4px solid rgb(20, 48, 176);
}

text4,
text4 {
  color: rgb(128, 0, 75);
}
